<table>
	<tr><td>MongoDB</td><td><%= @mongo %></td></tr>
	<tr><td>Memcached</td><td><%= @memcached %></td></tr>
	<tr><td>Redis</td><td><%= @redis %></td></tr>
	<tr><td>Riak</td><td><%= @riak %></td></tr>
	
</table>